.slider1 {
  background-image: linear-gradient(0deg, #150b2be5 0%, #150b2b00 100%),
    url("https://i.ibb.co/gmFMXDc/industrial-plant-5968230-1920.jpg");
}
.slider2 {
  background-image: linear-gradient(0deg, #150b2be5 0%, #150b2b00 100%),
  url('https://i.ibb.co/D1Rxdc4/industry-525119-1920.jpg');
}
.slider3 {
  background-image: linear-gradient(0deg, #150b2be5 0%, #150b2b00 100%),
    url("https://i.ibb.co/W6qGgPs/pexels-anamul-rezwan-1145434.jpg");
}
.slider4 {
  background-image: linear-gradient(0deg, #150b2be5 0%, #150b2b00 100%),
    url("https://i.ibb.co/s1rhwc5/smoke-258786-1920.jpg");
}
.slider5 {
  background-image: linear-gradient(0deg, #150b2be5 0%, #150b2b00 100%),
    url("https://i.ibb.co/5rQsfh7/factory-4678019-1920.jpg");
}
